OPENAI_KEY=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
OPENA_AI_PROJECT_ID=proj_k9kFGHa8sJZW6yD2AcZS6TYZ
